.input {
  width: 298px;
  height: 100%;
  padding: 16px 12px;
  border: 1px var(--grey-color-border) solid;
  border-radius: 6px;
  font-size: 14px;
}

.input:focus {
  border: 1px var(--main-color) solid;
}